<%= form_for(@reviewer) do |f| %>
  <% if @reviewer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reviewer.errors.count, "error") %> prohibited this reviewer from being saved:</h2>

      <ul>
      <% @reviewer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><span class="text-danger">（必須）</span><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :star %><span class="text-danger">（必須）</span><br>
    <%= f.number_field :star %>
  </div>

  <div class="field">
    <%= f.label :comment %><span class="text-danger">（必須）</span><br>
    <%= f.text_area :comment %>
  </div>

  <div class="field">
    <%= f.label :product_id %><span class="text-danger">（必須）</span><br>
    <%= f.number_field :product_id %>
  </div>

<input name="reviewer[hide]" type="hidden" value="false" />
<input name="reviewer[vote_y]" type="hidden" value="0" />
<input name="reviewer[vote_n]" type="hidden" value="0" />
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
