<p id="notice"><%= notice %></p>

<h1>Listing Reviewers</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Star</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reviewers.each do |reviewer| %>
      <% if(current_user.id == 1) %>
        <tr>
          <td><%= reviewer.name %></td>
          <td><%= reviewer.star %></td>
          <td><%= reviewer.comment %></td>
          <td><%= link_to 'Show', reviewer %></td>
          <td><%= link_to 'Edit', edit_reviewer_path(reviewer) %></td>
          <td><%= link_to 'Destroy', reviewer, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs visited-none' %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<div>
<% if(current_user.id == 1) %>
  <%= link_to 'New Reviewer', new_reviewer_path, class: 'btn btn-primary visited-none' %>
<% end %>
</div>

<div>
<%= paginate @reviewers %>
</div>