<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>

      <% if current_user && current_user.id == 1 %>
        <th>User</th>
      <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <% if current_user && current_user.id == 1  %>
        <% if current_user.id == product.user_id %>
          <tr>
            <td><%= product.name %></td>
            <% if current_user && current_user.id == 1 %>
              <td><%= product.user_id %></td>
            <% end %>
            <td><%= link_to 'Review', { :controller => :reviewers, :action => :view, :id => product.id }, class: 'btn btn-success btn-xs'  %></td>
            <td><%= link_to 'Source', { :controller => :reviewers, :action => :view, :id => product.id }, class: 'btn btn-success btn-xs'  %></td>
            <td><%= link_to 'Show', product %></td>
            <td><%= link_to 'Edit', edit_product_path(product) %></td>
            <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path, class: 'btn btn-primary' %>
